# 駅データから取得したデータの分析

---
[駅データ.jp](http://www.ekidata.jp/)

## データ取得

In [1]:
import pandas as pd

In [6]:
base_file_path = "./data/ekidata/"
file_name_station = "station20210312free.csv"
file_name_line = "line20210312free.csv"
file_name_join = "join20210312.csv"
file_name_company = "company20200619.csv"

In [7]:
station_df = pd.read_csv(base_file_path + file_name_station)
line_df = pd.read_csv(base_file_path + file_name_line)
join_df = pd.read_csv(base_file_path + file_name_join)
company_df = pd.read_csv(base_file_path + file_name_company)

## データ確認

In [8]:
display(station_df.head(3))
display(line_df.head(3))
display(join_df.head(3))
display(company_df.head(3))

,station_cd,station_g_cd,station_name,station_name_k,station_name_r,line_cd,pref_cd,post,address,lon,lat,open_ymd,close_ymd,e_status,e_sort
0,1110101,1110101,函館,NaN,NaN,11101,1,040-0063,北海道函館市若松町１２-１３,140.726413,41.773709,1902-12-10,0000-00-00,0,1110101
1,1110102,1110102,五稜郭,NaN,NaN,11101,1,041-0813,函館市亀田本町,140.733539,41.803557,0000-00-00,0000-00-00,0,1110102
2,1110103,1110103,桔梗,NaN,NaN,11101,1,041-0801,北海道函館市桔梗３丁目４１-３６,140.722952,41.846457,1902-12-10,0000-00-00,0,1110103

,line_cd,company_cd,line_name,line_name_k,line_name_h,line_color_c,line_color_t,line_type,lon,lat,zoom,e_status,e_sort
0,1001,3,中央新幹線,チュウオウシンカンセン,中央新幹線,NaN,NaN,NaN,137.493896,35.411438,8,1,1001
1,1002,3,東海道新幹線,トウカイドウシンカンセン,東海道新幹線,NaN,NaN,NaN,137.721489,35.144122,7,0,1002
2,1003,4,山陽新幹線,サンヨウシンカンセン,山陽新幹線,NaN,NaN,NaN,133.147896,34.419338,7,0,1003

   line_cd  station_cd1  station_cd2
0     1002       100201       100202
1     1002       100202       100203
2     1002       100203       100204

,company_cd,rr_cd,company_name,company_name_k,company_name_h,company_name_r,company_url,company_type,e_status,e_sort
0,1,11,JR北海道,ジェイアールホッカイドウ,北海道旅客鉄道株式会社,JR北海道,http://www.jrhokkaido.co.jp/,1,0,1
1,2,11,JR東日本,ジェイアールヒガシニホン,東日本旅客鉄道株式会社,JR東日本,http://www.jreast.co.jp/,1,0,2
2,3,11,JR東海,ジェイアールトウカイ,東海旅客鉄道株式会社,JR東海,http://jr-central.co.jp/,1,0,3